<h1><%= @contact.first() %> <%= @contact.last() %></h1>
<h3><%= @contact.job() %> <%= @contact.company() %></h3>
<form class="" action="/contacts/<%= @contact.id() %>" method="post">
  <%= erb(:_phone_inputs) %>
  <button type="submit" class="btn btn-default">Update</button>
</form>
